.homepage {
    width: 500px;
    height: 600px;
    padding: 2rem;
    background: rgb(33, 94, 151);
background: linear-gradient(129deg, rgb(13, 70, 156) 0%, rgb(61, 11, 155) 35%, rgb(8, 94, 121) 100%);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
    button {
      font-size: 1rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      width: 200px;
      border: none;
      background-color: #f1c790;
      border-radius: 5px;
      z-index:3;

      color: black;
      &:hover {
        cursor: pointer;
      }
    }
}