.incoming {
      text-overflow: auto;
     min-height: 500px;
     padding: 1rem;
    width: 500px;
    flex-direction: column;
    display: flex;
    margin-right: 40rem;
    justify-content: center;
      p {  
        font-size: 1.7rem;
        padding: 1.2rem;
        margin-top: 0.5rem;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.4);
        text-overflow: auto;
      }
      .name{
        font-size: 1.2rem;
        color :rgb(6, 12, 55);
        font-style: italic;
        font-weight: 500;
      }
    }