@import "../globals";
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  //stylesheet for the display in Google Chrome
  &::-webkit-scrollbar {
    height: $size;
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    border-radius: 13px;
    background: $background-color;
  }

  // stylesheet for the display in Internet Explorer
  & {
    scrollbar-track-color: $background-color;
    scrollbar-face-color: $foreground-color;
  }
}
.chat {
  display: flex;
  width: 600px;
  padding: 1rem;
  justify-content: space-between;
  height: 800px;
  flex-direction: column;
  background: rgb(8, 7, 104);
background: linear-gradient(124deg, rgb(6, 123, 138) 0%, rgb(87, 9, 117) 35%, rgb(18, 7, 121) 100%);
  .user-name {
    width: 100%;
    text-align: start;
    font-size: 1.2rem;
    h2 {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      font-weight: 300;
      padding-bottom: 1rem;
    }
  }
  .chat-message {
    @include scrollbars(5px, $backgroundColor, $yellowColor);
    height: 70%;
    display: flex;
    overflow-y: auto;
    align-content: flex-start;
    width: 100%;
    flex-direction: column;

    .message {
      padding-left: 0.5rem;
      max-width: 220px;
      margin-left: 0px;
      p {
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 300;
        background-color: #726e6b;
        border-radius: 0px 10px 10px 10px;
        padding: 1rem;
      }

      span {
        color: #eff2fc;
        font-size: 0.9rem;
        padding-left: 0.5rem;
        font-weight: 200;
      }
    }
    .mess-right {
      display: flex;
      margin-left: auto;
      flex-direction: column;
      padding-right: 0.5rem;
      margin-right: 0px;
      max-width: 220px;
      p {
        background-color: rgb(255, 219, 179);
        text-align: end;
        color: black;
        border-radius: 10px 0px 10px 10px;
      }
      span {
        padding-left: 0rem;
        width: 100%;
        padding-right: 0.5rem;
        text-align: end;
      }
    }
  }

  .send {
    height: 70px;
    display: flex;
    width: 100%;
    input {
      background-color: #404450;
      width: 80%;
      padding-left: 1rem;
      text-decoration: none;
      border-radius: 5px 0px 0px 5px;
      border: none;
      font-size: 1.3rem;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: $yellowColor;
      width: 30%;
      border-radius: 0px 5px 5px 0px;
      border: none;
      font-size: 1.3rem;
      font-weight: 400;
      &:hover {
        cursor: pointer;
      }
    }
  }
}